/node_modules

packages/server/build
packages/server/.cache
packages/server/public
packages/client/build
packages/client/.cache

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

/.idea
/.vscode
/.history

npm-debug.log*
yarn-debug.log*
yarn-error.log*